.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: [footer-height];
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #bbb;
}
